body {
	background-color: darkgreen;
}


div#memory_board{
	background: #ccc;
	border:#999 1px solid;
	width:800px;
	height:540px;
	padding:24px;
	margin:0px auto;
}

div#memory_board > div {
	background: url(tile_bg.jpg) no-repeat;
	border: #000 1px solid;
	width: 71px;
	height: 71px;
	float: left;
	margin: 10px;
	padding: 20px;
	font-size: 64px;
	cursor: pointer;
	text-align: center;

}





.badge-important {
	height:20px;
	width: 30px;

}

#t { 
	height: 40px;
	width: 50px;
	padding-top: 15px;
}
#btn{
height: 40px;
	width: 50px;

	

}

#tile{
	color: red;
	width: 125px;
	height: 200px;
	padding-left: 10px;
}

#canvas{
	padding-left: 10px;
	width: 125px;
	height:200px;
	fillStyle = "orange";
}